.bodyPage1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 64px;
  margin-bottom: 74px;
}

.bodyPage1 .headerPage1 {
}
.bodyPage1 .headerPage1 img {
  height: 200px;
}
.bodyPage1 h1 {
  text-align: center;
  color: rgb(148, 23, 30);
}
.bodyPage1 h3 {
  color: rgb(148, 23, 30);
  text-align: center;
}
.bodyPage1 h4 {
  color: rgb(148, 23, 30);
  text-align: center;
}
