.footer {
  position: fixed;
  display: grid;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #d4d4d4;
  height: 64px;
}

.footer .social_network img {
  width: 70px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .social_network:hover img {
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.footer #logo_footer {
}

.footer #logo_footer img {
  width: 250px;
}

.footer #logo_ville_footer {
}

.footer #logo_ville_footer img {
  width: 250px;
}
